models/model-apo2-nc.h5 filter=lfs diff=lfs merge=lfs -text
models/model-fasc-WW-aunet111.h5 filter=lfs diff=lfs merge=lfs -text
models/model-fasc-WW-unet.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
.exe filter=lfs diff=lfs merge=lfs -text
.h5 filter=lfs diff=lfs merge=lfs -text
.pkg filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
